.currency-details {
  background-color: #616161;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 55px;

  @media only screen and (max-width: 768px) {
      margin-top: 89px;
  
  }

  .header {
    display: flex;
    align-items: center;
    img {
      margin-right: 15px;
      border-radius: 50%;
    }
    h1 {
      margin: 0;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;

    .category {
      flex: 1;
      padding: 10px;
      background-color: #6f6f6f;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      margin-right: 15px;

      @media only screen and (max-width: 648px) {
        min-width: 224px;
        margin-bottom: 27px;
        margin-right: 15px;
        padding: 25px 10px 25px 10px;
  
      }

      p {
        margin: 0;
        color: #FFF;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .links,
  .delta {
    margin-top: 20px;

    p {
      font-weight: bold;
      margin-bottom: 10px;
      color: #FFF;
    }

    ul {
      list-style-type: none;
      padding: 0;
      color: #FFF;

      li {
        margin-bottom: 5px;
      }

      a {
        color: #2facff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .go-back {
    margin-top: 20px;

    button {
      padding: 10px;
      background-color: #4d4d4d;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #898989;
      }
    }
  }

  &.loading {
    p {
      text-align: center;
      font-weight: bold;
      color: #555;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .loading-spinner {
      display: inline-block;
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-top: 4px solid #3498db;
      width: 20px;
      height: 20px;
      animation: rotate 1s linear infinite;
      margin-left: 10px;
    }
  }
}
